server/flow.txt
[{"id":"cde62d1e.78bd6","type":"tab","label":"Flow 1"},{"id":"f99b8f75.9b2728","type":"mosca in","z":"cde62d1e.78bd6","mqtt_port":1883,"mqtt_ws_port":8080,"name":"moqos","username":"","password":"","dburl":"","x":232,"y":86,"wires":[["e1bb127a.99a2f"]]},{"id":"6bc5f6f.debb588","type":"mqtt out","z":"cde62d1e.78bd6","name":"","topic":"inTopic","qos":"","retain":"","broker":"b337da91.7e5ae8","x":955,"y":578,"wires":[]},{"id":"58ed4548.ce20fc","type":"debug","z":"cde62d1e.78bd6","name":"","active":true,"console":"false","complete":"payload","x":1182,"y":201,"wires":[]},{"id":"7830540a.5c9cd4","type":"mqtt in","z":"cde62d1e.78bd6","name":"","topic":"outTopic","qos":"2","broker":"b337da91.7e5ae8","x":559,"y":63,"wires":[["58ed4548.ce20fc","2554d411.f97444"]]},{"id":"ea589db7.8053a","type":"switch","z":"cde62d1e.78bd6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":287,"y":253,"wires":[["1e6dab2f.207405"],["913380c2.0a4158"]]},{"id":"1e6dab2f.207405","type":"function","z":"cde62d1e.78bd6","name":"te","func":"msg.payload=0\nreturn msg;","outputs":1,"noerr":0,"x":442,"y":223,"wires":[["6bc5f6f.debb588"]]},{"id":"913380c2.0a4158","type":"function","z":"cde62d1e.78bd6","name":"","func":"var nmsg={payload: \"1\"}\nreturn nmsg;","outputs":1,"noerr":0,"x":438,"y":289,"wires":[["6bc5f6f.debb588"]]},{"id":"e1bb127a.99a2f","type":"debug","z":"cde62d1e.78bd6","name":"","active":false,"console":"false","complete":"false","x":376,"y":95,"wires":[]},{"id":"6ee58761.a7a3e8","type":"alexa-home","z":"cde62d1e.78bd6","conf":"9fd6d3ca.9eede8","device":"24101","acknoledge":true,"name":"fan","topic":"","x":82,"y":206,"wires":[["ea589db7.8053a"]]},{"id":"c3badf21.0f9e2","type":"ui_switch","z":"cde62d1e.78bd6","name":"","label":"switch","group":"caa8891b.f9371","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":106,"y":368,"wires":[["ea589db7.8053a"]]},{"id":"6bba72ec.425bac","type":"ui_button","z":"cde62d1e.78bd6","name":"","group":"caa8891b.f9371","order":6,"width":0,"height":0,"passthru":false,"label":"universal on","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":139,"y":441,"wires":[["ea589db7.8053a","b9e0da9c.0c99d","6a46939c.291f1c","e1ae3c4e.5ada28","c3badf21.0f9e2","1e9847a4.999358","dbc9fe1b.b22008","a4dfbea9.751e7"]]},{"id":"8cd605c2.143e18","type":"ui_button","z":"cde62d1e.78bd6","name":"","group":"caa8891b.f9371","order":7,"width":0,"height":0,"passthru":false,"label":"universal off","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":137,"y":493,"wires":[["ea589db7.8053a","b9e0da9c.0c99d","6a46939c.291f1c","e1ae3c4e.5ada28","a4dfbea9.751e7","dbc9fe1b.b22008","1e9847a4.999358","c3badf21.0f9e2"]]},{"id":"9db3347d.d8bd98","type":"ui_text","z":"cde62d1e.78bd6","group":"caa8891b.f9371","order":8,"width":0,"height":0,"name":"debug","label":"text(debug)","format":"{{msg.payload}}","layout":"col-center","x":873,"y":241,"wires":[]},{"id":"1e9847a4.999358","type":"ui_switch","z":"cde62d1e.78bd6","name":"","label":"switch2","group":"caa8891b.f9371","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":375,"y":462,"wires":[["b9e0da9c.0c99d"]]},{"id":"dbc9fe1b.b22008","type":"ui_switch","z":"cde62d1e.78bd6","name":"","label":"switch3","group":"caa8891b.f9371","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":377,"y":539,"wires":[["6a46939c.291f1c"]]},{"id":"a4dfbea9.751e7","type":"ui_switch","z":"cde62d1e.78bd6","name":"","label":"switch4","group":"caa8891b.f9371","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":374,"y":657,"wires":[["e1ae3c4e.5ada28"]]},{"id":"b9e0da9c.0c99d","type":"switch","z":"cde62d1e.78bd6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":537,"y":462,"wires":[["31fe499c.931f76"],["b1c48ebd.5e645"]]},{"id":"6a46939c.291f1c","type":"switch","z":"cde62d1e.78bd6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":534,"y":540,"wires":[["3ac9203c.64eac8"],["c25f187b.61a76"]]},{"id":"e1ae3c4e.5ada28","type":"switch","z":"cde62d1e.78bd6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":535,"y":660,"wires":[["741ac870.12f67"],["9b6d3f24.1d76e8"]]},{"id":"31fe499c.931f76","type":"function","z":"cde62d1e.78bd6","name":"te","func":"msg.payload=2\nreturn msg;","outputs":1,"noerr":0,"x":662,"y":446,"wires":[["6bc5f6f.debb588"]]},{"id":"b1c48ebd.5e645","type":"function","z":"cde62d1e.78bd6","name":"te","func":"msg.payload=3\nreturn msg;","outputs":1,"noerr":0,"x":662,"y":484,"wires":[["6bc5f6f.debb588"]]},{"id":"3ac9203c.64eac8","type":"function","z":"cde62d1e.78bd6","name":"te","func":"msg.payload=4\nreturn msg;","outputs":1,"noerr":0,"x":667,"y":525,"wires":[["6bc5f6f.debb588"]]},{"id":"c25f187b.61a76","type":"function","z":"cde62d1e.78bd6","name":"te","func":"msg.payload=5\nreturn msg;","outputs":1,"noerr":0,"x":666,"y":581,"wires":[["6bc5f6f.debb588"]]},{"id":"741ac870.12f67","type":"function","z":"cde62d1e.78bd6","name":"te","func":"msg.payload=6\nreturn msg;","outputs":1,"noerr":0,"x":658,"y":638,"wires":[["6bc5f6f.debb588"]]},{"id":"9b6d3f24.1d76e8","type":"function","z":"cde62d1e.78bd6","name":"te","func":"msg.payload=7\nreturn msg;","outputs":1,"noerr":0,"x":661,"y":686,"wires":[["6bc5f6f.debb588"]]},{"id":"ea1992ff.e60b58","type":"mqtt in","z":"cde62d1e.78bd6","name":"","topic":"inTopic","qos":"2","broker":"b337da91.7e5ae8","x":654,"y":233,"wires":[["9db3347d.d8bd98","e11cb078.5a578"]]},{"id":"2554d411.f97444","type":"ui_text","z":"cde62d1e.78bd6","group":"caa8891b.f9371","order":0,"width":0,"height":0,"name":"status","label":"status","format":"{{msg.payload}}","layout":"col-center","x":1007.4499664306641,"y":81.18333435058594,"wires":[]},{"id":"e11cb078.5a578","type":"debug","z":"cde62d1e.78bd6","name":"","active":true,"console":"false","complete":"false","x":1139.449966430664,"y":533.3999786376953,"wires":[]},{"id":"f77b1dc5.736e08","type":"alexa-home","z":"cde62d1e.78bd6","conf":"9fd6d3ca.9eede8","device":"24092","acknoledge":true,"name":"Light 1","topic":"","x":66.63333129882812,"y":591.9166412353516,"wires":[["a4dfbea9.751e7"]]},{"id":"b337da91.7e5ae8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9fd6d3ca.9eede8","type":"alexa-home-conf","z":"","username":"ganeshteja"},{"id":"caa8891b.f9371","type":"ui_group","z":"","name":"appliances","tab":"667c5a9e.14b20c","order":1,"disp":true,"width":"6","collapse":true},{"id":"667c5a9e.14b20c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2}]
